h1{
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
}

.main-row{
  margin-top: 51px;
}

.Our-project{
  margin-bottom: 21px;
}

.second-row{
  margin-top: 55px;

}
footer{
  margin-top: 96px;
  background: #6C757D;
  height: 50px;

}
.footer{
 padding-top:10px;
 left: 15px;
}
.text-right{
  padding-top: 10px;
  right: 15px;
}
